<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add  name="cc" connectionString="server=.;Trusted_Connection=yes;database=Comments;connection timeout=30"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="youtube-comment-155118"/>
    <add key="ApiKey" value="AIzaSyC9Fys_qgTbxdZ_RndvrRS0BfJCF_ZlkEE"/>
    <add key="ApplicationName" value="youtube-comment-155118"/>
    <add key="Dir.Exec" value="W:\ddf\Code\"/>
  </appSettings>
</configuration>